@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #15202B;
    color: white;
    height: 130vh;
    font-family: 'Poppins', sans-serif;
}

.box{
    margin: auto auto;
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 20px;
    
}

.box fieldset{
    background-color: #121c25;
}

.img{
    display: flex;
    /* background-color: green; */
    width: 50%;
}

.form-box{
    /* background-color: red; */
    width: 50%;
    padding: 30px;
}

fieldset{
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
}

legend{
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 25px;
    color: #15202B;
    font-weight: bold;
    cursor: default;
}

.img img{
    width: 100%;
    padding: 40px;
}



.input-group input{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    color: black;
    font-size: 16px;
    transition: all 0.5s ease;
}

.form-box .input-group{
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #15202B;
    cursor: pointer;
    border: 3px solid transparent;
}

button:hover{
    background-color: #15202B;
    color: white;
    border-color: white;
    transition:  all 0.7s ease;
}

input:focus{
    border-color: #000000;
}

.input-check label{
    cursor: pointer;
}

.input-radio label{
    margin-right: 10px;
}